.element{
	margin:50px;
	padding:10px;
	background-color: rgba(211, 211, 211, 0.336);
	float:left;
	min-height: 200px;
	
}
.element-left{
	border: 1px solid green;
}
.element-right{
	border: 1px solid red;
}
.element-wrapper {
	margin: 0 auto;
}
.my-change-btn {
	position: absolute;
	left: 60vw;
	top: 10px;	
}